<header class="page-header" id="header">
    <div class="title">
        <h1>{{title}}</h1>
        <div class="slogan">I love coffee</div>
    </div>
</header>
<nav class="menu" id="main-menu">
    <button class="menu-toggle" id="toggle-menu">toggle menu</button>
    <div class="menu-dropdown">
        <ul class="nav-menu">
            <li><a href="/about.html">About</a></li>
            <li><a href="/shop.html">Shop</a></li>
            <li><a href="/menu.html">Menu</a></li>
            <li><a href="/brew.html">Brew</a></li>
        </ul>
    </div>
</nav>

<aside class="hero" id="hero">
    Welcome to Ochiengs coffee roasters. I am passionate about coffee and would love
    if everyone would join me in enjoying this art. Yes, the craft of making coffee
    is one that is loved and appreciated world over. Come taste the best that I can offer.
</aside>
<main id="main">
    <div class="row">
        <section class="column">
            <h2 class="subtitle">Single Origin</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus excepturi alias,
                veritatis, laborum adipisci soluta sint, blanditiis nihil eos reprehenderit
                asperiores repellendus dolorem totam nesciunt maiores ullam non aliquam mollitia?</p>
        </section>
        <section class="column">
            <h2 class="subtitle">Blends</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam voluptates et quam
                repellendus reiciendis assumenda obcaecati deleniti esse excepturi, quas, aliquid
                molestiae, fugit temporibus porro unde similique tempora sequi! Illum.</p>
        </section>
        <section class="column">
            <h2 class="subtitle">Brewing equipment</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam voluptates et quam
                repellendus reiciendis assumenda obcaecati deleniti esse excepturi, quas, aliquid
                molestiae, fugit temporibus <a href="http://google.com">google</a> porro unde similique tempora sequi! Illum.</p>
        </section>
    </div>
</main>
